@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Mozilla+Text:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Cormorant", sans;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
  padding: 35px 35px;
}
/* #region Nav */
nav > ul {
  list-style-type: none;
  display: inline;
}

nav li {
  display: inline;
  margin: 0 20px;
  font-size: 20px;
}

nav h1 {
  display: inline;
}

.underline {
  text-decoration: underline;
}

/* #endregion */

/* #region Cards */
.container {
  width: 100%;
  padding: 40px 0;
  font-size: 0;
  /* display: inline; */
}

.card {
  width: 48%;
  margin: 0 1%;
  display: inline-block;
  font-size: 15px;
}

img {
  width: 100%;
  height: 350px;
}

.donw {
  text-decoration-style: wavy;
}
/* #endregion */

/* #region LastText */
.last-text {
  font-size: 30px;
  width: 35%;
  margin-left: 10%;
}

.paddin-top {
  /* padding-top:  40px; */
}
.underline-2 {
  display: inline;
  border-bottom: 1px solid black;
}
/* #endregion */

/* #region footer */

/* #endregion */