@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  box-sizing: border-box;
  font-family: "Lexend", "Poppins", sans-serif;
  margin: 0;
}

.body-container {
  padding: 1rem 3rem;
}
/* #region Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 1rem;
  margin-bottom: 2rem;
}

h1 {
  margin: 0;
}

.title {
  display: flex;
  gap: 30px;
  flex-direction: row;
  align-items: center;
}

button {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  border: none;
  font-weight: 900;
  border-radius: 17px;
  font-size: 11px;
  padding: 5px 10px;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  opacity: 0.7;
}

a > img {
  width: 20px;
}
/* #region Hamburger */
.hamburger {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  display: none;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger > .bar {
  background-color: black;
  height: 4px;
  width: 36px;
  margin: 3px;
  border-radius: 10px;
}
/* #endregion */
/* #endregion */
/* #region Grid */
.container {
  width: 100%;
  display: grid;
  grid-template-areas:
    "a a b"
    "a a c"
    "d e c"
    "d e c"
    "f g g"
    "f g g"
    "h h i";
  gap: 16px;
}
/* #region ID's Grid */
#eth {
  grid-area: a;
}

#alphabet {
  grid-area: b;
}

#traveler {
  grid-area: c;
}

#cube {
  grid-area: e;
}

#astro {
  grid-area: d;
}

#cup {
  grid-area: f;
}

#insta {
  grid-area: g;
}

#foam {
  grid-area: h;
}
/* #endregion */
#dimensional {
  grid-area: i;
}
.project > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.overlated {
  position: absolute;
  color: black;
  opacity: 0;
  font-size: 1.4rem;
  font-family: "Jost";
  font-weight: 900;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.7),
    -1px -1px rgba(255, 255, 255, 0.7);
}

.project:hover .overlated {
  opacity: 1;
  transition: opacity 700ms;
  cursor: pointer;
}

.project:hover img {
  filter: blur(1px);
  transition: filter 0.5s ease;
  cursor: pointer;
}
/* #endregion */
/* #region Footer */
footer {
  margin: 3rem 0 2rem 0;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
/* #endregion */
/* #region Media Querys */
/* #region 1015px < Screen */
@media only screen and (max-width: 1015px) {
  header {
    font-size: 0.85rem;
  }

  nav {
    gap: 25px;
  }
  .container {
    grid-template-areas:
      "a a"
      "a a"
      "b c"
      "d e"
      "d e"
      "g g"
      "f h"
      "i i";
    column-gap: 0px;
  }

  .body-container {
    padding: 1rem;
  }
}
/* #endregion */
@media only screen and (max-width: 664px) {
  .body-container {
    margin-top: 5rem;
    padding: 1rem;
  }

  nav {
    display: none;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    position: fixed;
    width: 100%;
    padding: 16px 24px;
    box-sizing: border-box;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: white;
  }
  .container {
    grid-template-areas:
      "a a"
      "b b"
      "c d"
      "e e"
      "f f"
      "g g"
      "h h"
      "i i";
  }
}

@media only screen and (max-width: 498px) {
  .body-container {
    padding: 1rem 0.4rem;
  }

  button {
    display: none;
  }

  .container {
    grid-template-columns: 1fr;
  }
}
/* #endregion */
/* #region Mobile */
.mobileNav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  height: 100vh;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(160px);
  transition: transform 0.5s;
}

.mobileNav > a {
  margin: 12px 0;
}

.openMobileNav {
  transform: translateX(0);
}
/* #endregion */
/* #region Animations */
.animateBar2 {
  animation: fadeBar2 1s;
  animation-fill-mode: forwards;
}

.animateBar1 {
  animation: rotateBar1 1s forwards;
}

.animateBar3 {
  animation: rotateBar3 1s forwards;
}

@keyframes fadeBar2 {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }

  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}

@keyframes rotateBar1 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(45deg) translate(4px, 10px);
  }
}

@keyframes rotateBar3 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}
/* #endregion */
